.container {
    display: grid;
    grid-template-columns: 25% 75%;

    margin-top: 2rem;
}

.filter {
    background-color: rgb(226, 226, 226);
    padding: 1.2rem
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    row-gap: 7rem;
    margin: 0 auto;
}