.input {
    min-height: 1.9rem;
    width: 90%;
    box-shadow: none;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.input:focus {
    outline-color: #219C90;
    outline-offset: 2px;
}

.title {
    margin: 0;
    margin-bottom: 0.5rem;
}