.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.filter {
    background-color: rgb(226, 226, 226);
    padding: 1.2rem
}

.cards {
    /* background-color: gray; */
    /* width: 70%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    row-gap: 3rem;
    margin: 0 auto;
}