.container {
    text-align: center;
    width: 250px;
    height: 200px;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    border-radius: 10px 10px 0 0;
    background-color: rgb(237, 71, 71);

    color: white;
    font-weight: 500;
    font-size: 1.15rem;
}

.imgContainer {
    height: 100%;
    width: 250px;
}

.image {
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 250px;
}

.descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
    background-color: rgb(226, 226, 226);
    border-radius: 0 0 10px 10px;
}

.descriptionContainer > p{
    margin: 0;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
    color: gray;
}

.description > p{
    margin: 0;
}